.login-container{
    width:100vw;
    height:100vh;
    background-image:url('../assets/bright-close-up-colors-1073069.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
}
.login-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}